{% extends 'flatpages/default.html' %}

{% load custom_filters %}


{% block title %}
Post
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<table>
    <tr>
        <td><h1 align="center"><b>{{ post.caption|censor }}</b></h1></td>
    </tr>
    <tr>
        <td><p>         </p></td>
        <td><h3 ><i>{{ post.datetime|default_if_none:time_now }}</i></h3></td>
    </tr>
    <tr>
        <td><h3 align="justify "><i>{{ post.text|censor }}</i></h3></td>
    </tr>
</table>
{% endblock content %}